<template name="App_header">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    <img alt="Brand" src="../images/scrumify-Logo.png">
                </a>
                <button>
                    Sprint Planning 1
                </button>
                <button>
                    Sprint Planning 2
                </button>
                <button>
                    Sprint Ergebnisse
                </button>
            </div>
        </div>
    </nav>
</template>