//Colors - As taken from the "NEON" Farbschema from color.adobe.com

$whiteColor: #F6F6FF;
$yellowColor:#D3E33F;
$greyColor: #ACB6BA;
$blueColor: #285769;
$darkColor: #3D3E40;

$redColor: #D90048;
$darkgreyColor: #393A3D;
$turkisColor: #5D9E9B;
$lightGreenColor: #C8DBBF;
$lighterGreenColor: #E1FCEB;


$font-stack: Helvetica, sans-serif;
$primary-color: #333;